html, body
{
    margin: 0;
    padding: 0;
    height: 100vh;
}
.jumbotron-header
{
    padding-bottom: 0.7em;
    padding-top: 0.7em;
}
.navbar, .navbar-brand
{
    min-height: 10px !important;
    padding-top: 0px;
    padding-bottom: 0px;
}
.navbar-nav li a
{
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}
.wrapper-container
{
    height: 70%;
}
.jumbotron-header
{
    padding-bottom: 0.7em;
    padding-top: 0.7em;
}
.white-font
{
    color: whitesmoke;
}
.red-font
{
    color: darkred;
}
a:hover
{
    color: darksalmon;
}
.nav-link:hover
{
    color: darksalmon;
}